<div class="card-container" *ngIf="selectedClass && selectedClass.questions && selectedQuestion">
  <div class="card" (click)="toggleCard()" >
    <div class="card-content" [ngClass]="{ 'flipped': isFlipped }" >
      <div class="front">
        <p class="question-text">{{ selectedClass.questions[selectedQuestion - 1].question }}</p>
        <p class="instruction">(Click to view answer)</p>
      </div>
      <div class="back">
        <p class="answer-text">{{ selectedClass.questions[selectedQuestion - 1].answer }}</p>
      </div>
    </div>
  </div>
</div>
<div class="quizz-buttons">
  <button class="quizz-button" type="button" (click)="changeCoef(0)">Not understood</button>
  <button class="quizz-button" type="button" (click)="changeCoef(1)">Understanding</button>
  <button class="quizz-button" type="button" (click)="changeCoef(2)">Well understood</button>
</div>

