.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  width: 600px;
  height: 400px;
  perspective: 1000px;
  border-radius: 10px; /* Ajout de bordures arrondies */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Ajout d'une ombre portée */
}

.card-content {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.front {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background-color: #BEDAF0; /* Couleur vive pour la face avant */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background-color: #DFDEE4;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.question-text,
.answer-text{
  font-size: 20pt;
  text-align: center;
}

.instruction {
  font-size: 12pt;
  text-align: center;
}

.flipped {
  transform: rotateY(180deg);
}

.quizz-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.quizz-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.quizz-button {
  font-size: 13pt;
}

.quizz-button:hover {
  background-color: #ddd;
}

/* Apply specific colors to match the card's design */
.quizz-button:nth-child(1) {
  background-color: #FF7373; /* Color match for "Not understood" */
  color: white;
}

.quizz-button:nth-child(2) {
  background-color: #F5DF4D; /* Color match for "Well understood" */
  color: white;
}

.quizz-button:nth-child(3) {
  background-color: #8CDECC; /* Color match for "Understanding" */
  color: white;
}

