.container {
  text-align: center;
}

.chapters-container {
  display: flex;
  flex-direction: column;
}

.chapter {
  margin-right: 20px;
  display: flex;
}

.chapter-id {
  font-weight: bold;
  margin-right: 15px;
}

.quizz-button {
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 50px;
  margin-right: 100px;
  padding: 10px 20px; /* Adjust padding for better button appearance */
  background-color: #3498db; /* Add your preferred button color 1f7ab7*/
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.quizz-button:hover{
  background-color: #1f7ab7; /* Darker green on hover */
}
