<div class="class-details">
  <h3>{{modifiedClass?.title}}</h3>
  <div class="detail">
      <p>Author :</p>
      <a>{{modifiedClass?.author}}</a>
  </div>
  <div class="detail">
      <p>Platform :</p>
      <a>{{modifiedClass?.platform}}</a>
  </div>
  <div class="detail">
    <p>Description :</p>
    <a>{{modifiedClass?.description}}</a>
  </div>
  <div class="detail" style="margin-bottom: 50px">
      <p>Difficulty :</p>
      <a>{{modifiedClass?.difficulty}}</a>
  </div>
  <div *ngFor="let chapter of modifiedClass?.chapters; let i = index" class="detail">
    <p>Chapter {{ chapter?.chapterID }} :</p>
    <input value="{{chapter?.text}}" id="chapterText{{i}}">

  </div>
  <div class="buttonContainer">
    <button class="buttonUpdate" (click)="modifyClass()">Update</button>
  </div>
</div>
