/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 1%;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  background-color: #E4E5E7;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: darkgray;
}

/* Add your CSS styles for the carousel */
.slide {
  display: none;
  text-align: center; /* Center the content within the slide */
}

.slide.active {
  display: block;
}

.carousel-caption {
  position: absolute;
  color: white;
  align-self: center;
  margin-top: 20px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%; /* Adjust the width as needed */
}

.dot-container{
  position: absolute;
  color: white;
  align-self: center;
  margin-top: 20px;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%; /* Adjust the width as needed */
}

.circle {
  cursor: pointer;
  height: 200px; /* Adjust as needed */
  width: 200px; /* Adjust as needed */
  background-color: #3498DB;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 23px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  padding: 15px; /* Adjust the padding as needed */
}

body, html {
  height: 100%;
}

.slideshow-container{

  background-image: url("cover.jpg");

  /* Full height */
  height: 820px;
  width: 1888px;
  opacity: 0.8;

  /* Center and scale the image nicely */
  background-position : center;
  background-repeat: no-repeat;
  background-size: cover;
}
