 <div class="slideshow-container">
    <div *ngFor="let class of pickedClasses; let i = index" [class]="i === slideIndex ? 'slide active' : 'slide'">
      <div class="carousel-caption">
        <span class="circle" (click)="goToCourse(class.id)">{{ class.title }}</span>
      </div>
      <div class="text">{{ class.description }}</div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div>

  <br>

  <!-- The dots/circles -->
  <div class="dot-container">
    <span *ngFor="let class of pickedClasses; let i = index" class="dot" [class.active]="i === slideIndex" (click)="currentSlide(i)"></span>
  </div>
